.slider{
    height: 300px;
    width: 100%;
    z-index: 1;
    background-position: center;
        background-size: cover;
    .slider-content{
        transition: opacity 500ms ease 0s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.4);
        height: 100%;
        width: 100%;
        color: white;
        font-size: 2em;
        
        svg{
            cursor: pointer;
        }
    }

}